body{
  background : #2c3e50;
  color: #ffffff;
  transition : color 0.5s ease-in-out;
}

h1{
  font-size: 80px; 
}

h4{
  font-size: 30px;
}

.center{
  margin: auto;            
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.innerCenter{
  margin: 0 auto;
}

.form,
.greetings{
  display: none;

}

.showing{
  display:block;

}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.backgroundImage{
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.css-toDoList{
  margin: 0 auto;
  width:60%;
  text-align: center;
}

.css-LEFT{
  float: left;
  text-align: left;
}

.js-toDoList{
  display: flex;
  align-content:flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}